{% extends 'home/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/submissions.css' %}"
{% endblock %}
{% block body %}
<div style="margin-left: 15px; margin-top: 15px;">
    <h1>Gallery</h1>
    {% if images is not None %}
    <h3>{{event_name}}</h3>
    <div class="article_grid">
        {% for image in images %}
        <div>
            <img src="{{image.image.name|slice:"4:"}}" alt="{{image.title}}" style="max-width: 100%; max-height: 10cm;">
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if gal_events is not None %}
    <ul>
        {% for event in gal_events %}
        <li><a href="{% url 'home:view_event' event_id=event.id %}">{{event.event_name}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if arch_events is not None %}
    <h1>Archived</h1>
    <ul>
        {% for event in arch_events %}
        <li><a href="{% url 'home:view_event' event_id=event.id %}">{{event.event_name}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endblock %}