button {
    border: none;
    border-radius: 10px !important;
    padding: 5px;
    font-weight: bold;
    background: url("/static/library/libbg1.jpeg");
    border-radius: 3cm;
    color: white;
}

button:hover {
    cursor: pointer;
    color: darkgrey;
}

#searchbox {
    position: relative;
    text-align: center;
    width: 10cm;
    margin-top: 10px;
    margin-bottom: 1cm;
    display: inline-block;
}
#searchboxcontainer {
    text-align: center;
}
#searchbar {
    display: inline-block;
    width: 100%;
    border-radius: 7px;
    padding: 2px;
}
#searchResults {
    position: absolute;
    background-color: white;    
    text-align: left;
    border: 1px solid gray;
    border-radius: 7px;
    max-width: 95%;
}
#searchResults > p {
    border-top: 1px solid lightgray;
    padding: 10px;
    width:100%;
}

@media (max-width:700px) {
    #searchbox {
        left:0%;
        max-width:95%
    }
    #searchbar {
        width: 100%;
    }
}

.buttonPanel {
    text-align: center;
    margin: 25px;
}

table * {
    padding: 10px;
}

table {
    display: inline-block;
}

#header { 
    text-align: center; 
    /* text-decoration: underline; */
    color: white;
    padding: 1.75cm; 
    background: url("/static/library/libbg2.jpeg");
}

thead {
    border-bottom: 1px solid gray;
}