#searchbox {
    position: relative;
    text-align: center;
    left: 40%;
    width: 10cm;
}
#searchbar {
    display: inline-block;
    width: 100%;
    border-radius: 7px;
}
#searchResults {
    position: absolute;
    background-color: white;    
    text-align: left;
    border: 1px solid gray;
    border-radius: 7px;
    max-width: 95%;
}
#searchResults > p {
    border-top: 1px solid lightgray;
    padding: 10px;
    width:100%;
}

@media (max-width:700px) {
    #searchbox {
        left:0%;
        max-width:100%
    }
    #searchbar {
        width: 100%;
    }
}