{% extends "home/layout.html" %}
{% load static %}
{% block body %}

    <center><h1>Register on the school website</h1></center>
    <button class="registerButton" value="student">Register as student</button>
    <button class="registerButton" value="staff">Register as staff</button>

    <p id="message">{% if message %}{{message}}{% endif %}</p>

    <form action="{% url 'student:register' %}" id="studentForm" method="post" style="display:none">
        {% csrf_token %}
            <input type="hidden" autocomplete="off" name="usergroup" value="student">
            <input type="text" autocomplete="off" class="userid" name="username" placeholder="Student ID" required>
            <input type="text" autocomplete="off" name="first_name" placeholder="First name" required>
            <input type="text" autocomplete="off" name="last_name" placeholder="Last name" required>
            <input type="email" autocomplete="off" class="email" name="email" placeholder="Email Address" required>
            <input type="password" autocomplete="off" class="password" name="password" placeholder="Password" required>
            <input type="password" autocomplete="off" class="repassword" name="confirmation" placeholder="Confirm Password" required>
        <input class="submitButton" type="submit" disabled value="Register">
    </form>

    <form action="{% url 'student:register' %}" id="staffForm" method="post" style="display:none">
        {% csrf_token %}
            <input type="hidden" autocomplete="off" name="usergroup" value="staff">
            <input type="text" autocomplete="off" class="userid" name="username" placeholder="Employee ID" required>
            <input type="text" autocomplete="off" name="first_name" placeholder="First name" required>
            <input type="text" autocomplete="off" name="last_name" placeholder="Last name" required>
            <input type="email" autocomplete="off" class="email" name="email" placeholder="Email Address" required>
            <input type="password" autocomplete="off" class="password" name="password" placeholder="Password" required>
            <input type="password" autocomplete="off" class="repassword" name="confirmation" placeholder="Confirm Password" required>
        <input class="submitButton" type="submit" disabled value="Register">
    </form>
    Already have an account? <a href="{% url 'student:login' %}">Log In here.</a>
    <script src="{% static 'student/register.js' %}"></script>
{% endblock %}