.homeBody {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 3cm;
    margin-right: 3cm;
}

.homeBody > div {
    border:1px solid black;
    margin:1cm;
    padding:.5cm;
}

.boxComponent {
    border:1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin:10px;
    padding: 10px;
}

.heading {
    font-weight: bold;
}

.hide {
    display: none;
}
#App {
    margin:3cm;
}
@media (max-width:700px) {
    .homeBody {
        display: grid;
        grid-template-columns: 100%;
        margin:0px;
        margin-top: 2cm;
    }
    .homeBody > div {
        margin-bottom: 2cm;
    }
    #App {
        margin-left: 5px;
        margin-right: 5px;
    }
}