.homeBody {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 3cm;
    margin-right: 3cm;
}

.homeBody > div {
    border:1px dashed black;
    background-color:ivory;
    margin:1cm;
    padding:.5cm;
}

.boxComponent {
    border:1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin:10px;
    padding: 10px;
}

.heading {
    font-weight: bold;
}

.hide {
    display: none;
}
#App {
    margin:3cm;
}
.button_panel {
    text-align: center;
}

.button_panel button {
    margin:10px;
    margin-bottom: 20px;
    border:1px solid gray;
    border-radius: 10px;
    background-color:aliceblue;
}
.button_panel button:hover {
    outline:1px solid black;
    cursor: pointer;
}
@media (max-width:700px) {
    .homeBody {
        display: grid;
        grid-template-columns: 100%;
        margin:0px;
        margin-top: 2cm;
    }
    .homeBody > div {
        margin-bottom: 2cm;
    }
    #App {
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
    .button_panel {
        display: grid;
        grid-template-columns: 75%;
        margin: 0px;
        margin-bottom: 10px;
    }
}