body {
    font-family: 'Times New Roman', Times, serif !important;
    height: 100%;
    margin:0;
    padding:0;
    width:100%;
}

#top {
    width:100%;
}

#sidebar {
    background-color: black;
    border:none;
    border-radius: 5px;
    margin:10px;
    position:fixed;
    left:0px;
    top:0px;
    cursor: pointer;
    transition:outline .5s;
}
#sidebar div {
    color:white;
    text-align: center;
}
#sidebar img {
    filter:invert(100%);
    width:.5cm;
    height: .65cm;
}

#sidebar:hover {
    outline:1px solid white;
}


#menubar {
    background-color: black;
    color:gray;
    position: fixed;
    padding-top: 1.5cm;
    height: 100%;
    left:-6cm;
    top:0px;
    outline:1px solid black;
    transition: left 1s;
}

#menubar li{
    outline:1px solid black;
    text-align: center;
    font-size: large;
    display:block;
    padding: 14px;
    width:4.5cm;
}

#logo {
    text-align: center;
    margin-bottom: 1cm;
}

#logo img {
    width:3cm;
}

#menubar a {
    color:white;
    text-decoration: none;
    transition:color .5s;
}

#menubar a:hover {
    color:red;
    text-decoration: underline;
}

#heading {
    font-size: 48px;
    margin:1cm;
    text-align: center;
    text-decoration: underline;
}
#content {
    display: grid;
    grid-template-columns: 60% 40%;
    margin:3cm;
    margin-top:0px;
}

#content div {
    background-color: #FFFDD0;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    margin:10px;
    margin-top:0px;
    outline:1px solid black;
    padding: 20px;
    padding-top:10px;
}

@media (max-width:700px) {
    #content {
        grid-template-columns: 90%;
        margin:10px;
    }
}

a:hover {
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 100%;;
    }
    100% {
        opacity: 0%;
    }
}

.fadeaway {
    animation: fade 1s forwards;
}

.appear {
    animation: fade 1s reverse;
}