body {
    font-family: 'Times New Roman', Times, serif !important;
    height: 100%;
    margin:0;
    padding:0;
    width:100%;
}

#top {
    width:100%;
}

/* Styling the menubar */
#sidebar {
    background-color: black;
    border:none;
    border-radius: 5px;
    margin:10px;
    position:fixed;
    left:0px;
    top:0px;
    cursor: pointer;
    transition:outline .5s;
}
#sidebar div {
    color:white;
    text-align: center;
}
#sidebar img {
    filter:invert(100%);
    width:.5cm;
    height: .65cm;
}

#sidebar:hover {
    outline:1px solid white;
}


#menubar {
    background-color: black;
    color:gray;
    position: fixed;
    padding-top: 1.5cm;
    height: 100%;
    left:-6cm;
    top:0px;
    outline:1px solid black;
    transition: left 1s;
}

#menubar li{
    outline:1px solid black;
    text-align: center;
    font-size: large;
    display:block;
    padding: 6px;
    width:6cm;
}

#logo {
    text-align: center;
    margin-bottom: 1cm;
}

#logo img {
    width:3cm;
}

#menubar a {
    color:white;
    text-decoration: none;
    transition:color .5s;
}

#menubar a:hover {
    color:red;
    text-decoration: underline;
}


a:hover {
    cursor: pointer;
}


/* css for the news and gallery pages */

.news_page  {
    text-align: center;
}
.news_page > h1 {
    text-decoration: underline;
}
.news_page img {
    max-height: 15cm;max-width: 100%;
}
#author_name {
    font-weight: bold;
    font-size: 18px;
}
#news_description {
    outline:1px solid black;
    border-radius: 1cm; 
    display:inline-block;
    font-size: 24px; 
    margin:1cm; 
    padding: 10px; 
    width:75%;
}

@media (max-width:700px) {
    #news_description {
        width: 90%;
        margin: 10px;
        font-size: 18px;
    }
}